extends animation-layout
block content
	h1= title
	ul
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li
		li  		  	