doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/kickstart.css')
        
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/js/global.js')
        script(src='/js/kickstart.js')
